<div class="card shadow" style="width:180px;heigth:130px;">
    <div class="card-body">
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-between">
                <p>1</p>
                <p>Cap-50</p>
            </div>
            <div class="d-flex justify-content-center mb-3 flex-column p-3" >
                <div class="">
                    <h1 class="text-center">
                        <strong>GN</strong>
                    </h1>
                </div>
                <div class="text-center">
                    <small class="h3">Genesis</small>
                    <small class="">vs-1508</small>
                </div>
              </div>
            <p class="text-center mt-0 p-0">Antiguo Testamento</p>
        </div>
    </div>
</div>